numpy==1.19.4
nltk==3.5
spacy==3.0.6
joblib==0.17.0
pandas==1.1.5
scikit_learn==0.24.2
Flask==2.0.2
Flask-Cors==3.0.10
Werkzeug==2.0.2
wheel==0.37.1
wrapt==1.12.1
tensorflow==2.4.3
Jinja2==3.0.3
MarkupSafe==2.0.1
en-core-web-sm==3.0.0